html {
    scroll-behavior: smooth;
  }

table {
    margin: 40px 0px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0px 1px rgba(34, 245, 6, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border: 4ch;
    display: unset;
}

.row.content {
    height: 1500px;
}

.sidenav {
    background-color: #ffffff;
    height: 100%;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.sidenav a {
    color: black;
    font-size: 15px;
}

.sidenav img {
    width: 75%;
}

body {
    background-color: #dddddd;
}

h5 {
    padding: 20px;
    font-size: 40px;
    font-weight: bolder;

}

section img {
    width: 70%;
}

.box {
    height: 100%;
    width: 25%;
    background-color: lightsalmon;
    border: 1px solid lightgrey;
    float: right;
    text-align: center;
    padding: 16px;
    color: #ffffff;

}

.number {
    font-size: 25px;
}

.mg-top {
    margin-top: -156px;
    background-color: lightskyblue !important;


}
.bg-clr{
    background-color: #fff;
}

th,
td ,.txt-ctr{
    text-align: center;
}

td {
    padding: 20px !important;
}


p{
    text-align: center;
    padding: 20px;
}
.mg-lf{
    margin-left: 16%;
}
.btn-lg{
    position:fixed;
    right:10px;
    top:5px;
    ;
 }