html {
    scroll-behavior: smooth;
  }

table {
    display: unset;
}

.row.content {
    height: 630px;
}

.sidenav {
    background-color:#ffffff;
    height: 100%;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.sidenav a {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.sidenav img {
    width: 75%;
}

body {
    background-color: #dddddd;
}

h5 {
    padding: 20px;
    font-size: 40px;
    font-weight: bolder;

}

section img {
    width: 70%;
}


td {
    padding: 20px !important;
    padding-top: 12px;
}


p{
    text-align: center;
    padding: 20px;
}
.btn-lg{
    position:fixed;
    right:10px;
    top:5px;
    ;
 }

